$primary: #cc1f20;
$primary-accent: #c77374;
$secondary: #6c7079;
$dark: #010101;

// Colors
$theme-colors: (
  'primary': $primary,
  'primary-accent': $primary-accent,
  'secondary': $secondary,
  'dark': $dark,
);
