@use 'mixins';

:host {
  background: var(--cx-color-background);
  padding: var(--cx-spatial-md);
}

cx-card {
  background: var(--cx-color-inverse);
  display: block;
}

h2 {
  text-align: center;
}

.cards-container {
  display: grid;
  grid-gap: var(--cx-spatial-md);
  grid-template-columns: 1fr;
  justify-content: center;
}

@include mixins.cx-media-breakpoint-up(md) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 100%;
  }
}

@include mixins.cx-media-breakpoint-up(lg) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
