<div class="container">
  <h2>{{ 'referredCustomers.title' | cxTranslate }}</h2>
  <ng-container *ngIf="referredCustomers$ | async as referredCustomers">
    <div class="cards-container">
      <cx-card
        *ngFor="let referredCustomer of referredCustomers"
        [border]="true"
        [fitToContainer]="true"
        [content]="(getCardContent(referredCustomer) | async) || {}"
        (deleteCard)="deleteReferredCustomer(referredCustomer.email)"
      ></cx-card>
    </div>
    <ng-container *ngIf="!referredCustomers.length">
      <p class="empty-list">{{ 'referredCustomers.list.empty' | cxTranslate }}</p>
    </ng-container>
  </ng-container>
</div>
