<ng-container *ngIf="product$ | async as product">
  <div [attr.aria-label]="'productSummary.newItemPrice' | cxTranslate" class="price">
    {{ product?.price?.formattedValue }}
  </div>

  <div class="rating" *ngIf="product.averageRating">
    <cx-star-rating [rating]="product?.averageRating || 0"></cx-star-rating>
    <div class="count">{{ product?.numberOfReviews }} Reviewers</div>
  </div>

  <div class="rating" *ngIf="!product.averageRating">
    {{ 'productDetails.noReviews' | cxTranslate }}
  </div>
</ng-container>
