@use './variables' as var;
@use 'mixins';
@use './components';

:root {
  .perficient-latam {
    --cx-spinner-primary-color: var(--cx-color-secondary);
    --cx-spinner-secondary-color: var(--cx-color-light);

    @include components.prf-latam-header;
    @include components.prf-latam-site-context-selector;
    @include components.prf-latam-search-box;
    @include components.prf-latam-page-layout;

    font-family: var.$font-family-base;

    @each $color, $value in var.$theme-colors {
      --cx-color-#{$color}: #{$value};
    }
  }
}
