$primary: #e2aa7e;
$primary-accent: #deb696;
$secondary: #20533d;

// Colors
$theme-colors: (
  'primary': $primary,
  'primary-accent': $primary-accent,
  'secondary': $secondary,
);

// Typography
$font-family-base: 'Barlow', sans-serif;
