@use 'mixins';

@mixin prf-latam-site-context-selector {
  %cx-site-context-selector {
    select {
      background-color: var(--cx-color-secondary);
      color: inherit;

      @include mixins.cx-media-breakpoint-down(md) {
        background-color: var(--cx-color-light);
      }
    }
  }
}
